
/* Add cool font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Pacifico&family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bricolage+Grotesque:opsz,wght@10..48,200&family=Courgette&family=Pacifico&family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo'); 
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css2?family=poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400&display=swap');

/* Licensing & Courtesy

https://undraw.co/search

https://codepen.io/bycreator/pen/qBpwGy

*/

/* Define CSS variables at the top of your CSS file */
:root {

  --header-height : 3rem ;
  --font-semi: 600;
  --font-page-weight: 500;

  --primary-color : #303031;
  --secondary-color: rgb(90, 83, 233);
  --secondary-color-light : rgb(177, 175, 219);
  --sitebg-color: #ffffff;

  --site-font: 'Nunito Sans', sans-serif;
  --title-font:'Courgette', cursive;
  --big-font-size: 2rem;
  --h-font-size: 1.25rem;
  --p-font-size: 1.15rem;

  --mb-1: 0.5rem;
  --mb-11: 0.75rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  
}

/* Media Queries for Responsive Design (you can customize these as needed) */
@media screen and (max-width: 900px) {
  .content {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px){
  :root{
    --big-font-size: 3.5rem;
    --h-font-size: 2rem;
    --p-font-size: 1rem;
  }
}

/* Global */* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  outline: none !important;
  list-style: none !important;
}

*,::before,::after{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--site-font);
  font-size: var(--p-font-size);
  font-weight: var(--font-page-weight);
  color: var(--secondary-color);
}
h1,h2,p{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
  color: #6c63ffff;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}
/* Section title and colors defined */

.section-title{
  position: relative;
  font-family: var(--title-font);
  font-size: var(--h-font-size);
  color: var(--primary-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}

.section{
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/* Hero details */

.hero_page{
  height: calc(100vh - 1rem);
  row-gap: 0.5rem;
}
.hero_data{
  align-self: center;
}
.hero__title{
  font-family: var(--title-font);
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-1);
  color: var(--primary-color);
}
.hero_title_color{
  color: var(--secondary-color);
}

.hero_position{
  font-family: var(--site-font);
  font-size: 1.15rem ; /*var(--h-font-size);*/
  margin-bottom: var(--mb-1);
  color: var(--primary-color);
}

.hero_values{
  font-family: var(--site-font);
  font-size: var(--p-font-size);
  margin-bottom: var(--mb-1);
  color: var(--primary-color);
}

.hero_strategy{
  font-family: var(--site-font);
  font-size: var(--p-font-size);
  margin-bottom: var(--mb-1);
  color: var(--primary-color);
}

.herobox{
  background-image: url("../images/box.svg");
  background-size: contain;
  position:relative;
  top: 0em;
  background-repeat: no-repeat;
}

/*Project Management Prowness section */

.PMP_container{
  text-align: center;
  height: auto;
  width: fit-content;
}

.PMP_left{
  text-align: center;
  color: var(--secondary-color);
  font-family: var(--title-font);
  font-size: var(--big-font-size);
}

.PMP_right_top{
  text-align: center;
  color: var(--primary-color);
  font-family: var(--site-font);
  font-size: var(--h-font-size);
}

.PMP_right_bottom{
  text-align: center;
  color: var(--primary-color);
  font-family: var(--site-font);
  font-size: var(--p-font-size);
}

.about_Subtext{
  text-align: left;
  color: var(--secondary-color);
  font-family: var(--site-font);
  font-size: var(--h-font-size);
}

.about_text{
  text-align: left;
  color: var(--primary-color);
  font-family: var(--site-font);
  font-size: var(--p-font-size);
  font-weight: 520;
  margin-bottom: var(--mb-2);
}

.about_box{
  border: none;
}

.carSource{
  color: var(--secondary-color);
  font-family: var(--site-font);
  font-size: var(--p-font-size);
}

.cartext{
  color: var(--primary-color);
  font-family: var(--site-font);
  font-size: var(--p-font-size);
}

.cartitle{
  color: var(--primary-color);
  text-align: center;
  font-weight: var(--mb-3);
}

.carsubtitle{
  color: var(--primary-color);
  text-align: center;
  font-size: var(--mb-2);
}

.bgproduct{
  background-image: url("../images/prodLaunch.svg");
  background-size:contain;
  position:relative;
  top: 1em;
  background-repeat: no-repeat;
}

.bgcareer{
  background-image: url("../images/careerpath.svg");
  background-size:contain;
  position:relative;
  top: 1em;
  background-repeat: no-repeat;
}

.bgcommunity{
  background-image: url("../images/community.svg");
  background-size:contain;
  position:relative;
  top: 1em;
  background-repeat: no-repeat;
}

.bgblog{
  position:relative;
  top: 1em;
  background-repeat: no-repeat;
}

.belowhname{

  top: 18em;
  position: absolute;
  text-align: center;
  
}

.counterouter{

  width: 285px;
  height: 155px;

}

.counterinner{

  width:270px;
}

strong{
  font-size:large;
  color: #6c63ffff;
}

.counterinner-img{

  width:270px;
  height: auto;
}

.counterinner-btm{
  width:270px;
  height: 35px;
}


/* Add this to your CSS file or within a <style> tag in the HTML head */
#scroll-to-top-button {
 /* display: none;  Initially hide the button */
  position: fixed; /* Fixed position */
  bottom: 0px;
  right: 20px;
  z-index: 99; /* Make sure it appears above other elements */
}

#scroll-to-top-button button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.back-top {
  cursor: pointer;
  position: fixed !important;
  bottom: 40px;
  right: 40px;
  display: block;
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: rgba(var(--bs-primary-rgb), 0.1);
  color: var(--bs-primary);
  border-radius: 10%;
  width: 52px;
  height: 52px;
  line-height: 52px;
  text-align: center;
}
.back-top i {
  font-size: 1.6rem;
  vertical-align: middle;
}
.back-top:hover {
  background: var(--bs-primary);
  color: var(--bs-white);
}
.back-top.back-top-show {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.brutbutton {
  padding: 2px;
  font-size: 12px;
  border: none;
  border: 2px solid black;
  border-radius: .2em;
  background-color: #6c63ffff;
  filter: drop-shadow(3px 3px black); 
  transition: .2s ease-in-out all; 
  align-self:center;
  color: black;

  .buttona{
    color: black;
    font-style: italic;
    align-items: flex-end;
  }
}

.bottom{
  background-color: var(--section-bottom-bgcolor);
}

.work__img{
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
  border-radius: .5rem;
  overflow: hidden;
}

.skills__data{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: .5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: .5rem;
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
}

.typedText{
  text-transform: capitalize;
  color: var(--primary-color);
}

/* navigation Menu */

.header_menu {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--sitebg-color);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146,161,176,.15);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}

@media screen and (max-width: 768px) {
  .nav_menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--sitebg-color);
    transition: .5s;
  }
}

.nav_item {
  margin-bottom: var(--mb-4);
  align-items: end;
  color: var(--secondary-color);
}

.nav_link {
  position: relative;
  color: var(--secondary-color);
}

.nav_link:hover {
  color: var(--primary-color);
}
.nav_link:hover::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--secondary-color);
}

.nav_logo {
  color: var(--secondary-color);
  align-items: start;
  font-weight: var(--font-semi);
}

.nav_toggle {
  color: var(--primary-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/* skill Bar : https://codepen.io/bycreator/pen/qBpwGy */

.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:20px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:20px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:20px;
	width:0px;
	background:var(--secondary-color);
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:20px;
	line-height:20px;
}

/* ---- Portfolio ---- */

.port_desc{
  font-family: var(--site-font);
  font-size: var(--mb-11);
  font-weight: var(--mb-2);
  color: var(--Primary-color);
  padding: 0.2rem;
}

.port_category{
  font-family: var(--site-font);
  font-size: var(--p-font-size);
  font-weight: var(--font-page-weight);
  color: var(--primary-color);
  text-align: right;
  padding: 0.5rem;
}

.port_link{
  font-family: var(--site-font);
  font-size:var(--mb-11);
  font-weight: var(--p-font-size);
  color: var(--secondary-color);
  align-items: end;
  text-align: left;
  text-decoration: solid;
}
