
/* Add cool font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Pacifico&family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bricolage+Grotesque:opsz,wght@10..48,200&family=Courgette&family=Pacifico&family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo'); 
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css2?family=poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Corben:700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pontano+Sans:wght@400');
@import url('https://fonts.googleapis.com/css?family=Anek+Devanagari:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Yellowtail&display=swapp');
@import url('https://fonts.googleapis.com/css?family=Sacramento&display=swapp');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500|Rambla:400,700');

/* Licensing & Courtesy  - 

https://undraw.co/search

https://codepen.io/bycreator/pen/qBpwGy

https://codepen.io/JJimmyFlynn/pen/yzoPyV?editors=1100 - BARUN

color checker : https://www.htmlcsscolor.com/hex/676256
RGBA to HEX converter : https://simplecss.eu/rgbatohex.html 

https://themes.getbootstrap.com/preview/?theme_id=143914


*/

/* Define CSS variables at the top of your CSS file */

:root {

  --header-height : 0rem ;
  --font-semi: 600;
  --font-page-weight: 500;
  --font-page-strong: 100;
  --font-hero-weight: 900;

  --big-font-size: 3.5rem;
  --h-font-size: 2rem;
  --p-font-size: 1rem;

--page-color : rgb(227, 237, 247);   /*  #e5e5e5; linear-gradient(to bottom, #C7DBF7, #BFC7DE, #75708C, #C59594, #010101); */
--objects-color : #F0F4F8;
--font-color : #000000;
--color-night-rider :#2f2f2f; /* Bird */
--color-Tangerine-yellow : #FFCF00; /*(Bird) */
--color-red-pantone: #e63946;/* bird*/
--color-Charlotte: #A8DADC; /*bird */
--color-bonjour: #e5dbd3; /*tree*/
--color-gunpowder : #525062; /* tree */
--color-pablo : #726b5d; /*tree */
--color-makara : #676256; /*background */


  --site-font: 'Rambla', sans-serif;
  --title-font: 'Rambla', sans-serif;
  --hero-font-big: 'Rambla', sans-serif;

  --mb-1: 0.5rem;
  --mb-11: 0.75rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;

  --gap: 1rem;

  
  
}
/* Media Queries for Responsive Design (you can customize these as needed) */
@media screen and (max-width: 900px) {
  .content {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px){
  :root{
    --big-font-size: 3.5rem;
    --h-font-size: 2rem;
    --p-font-size: 1rem;
  }
}

/* Global */* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  outline: none !important;
  list-style: none !important;
}

*,::before,::after{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  margin: var(--header-height) 0 0 0;
 /* font-family: var(--site-font); */
  font-family: 'Rambla', sans-serif;
  font-size: var(--p-font-size);
  font-weight: var(--font-page-weight);
  background: var(--page-color);
  background-image: linear-gradient(180deg, var(--bs-body-bg), var(--bs-body-bg) 100px, var(--bs-body-bg));

  div{
    background-color: white;
  }
}
h1,h2,p{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: var(--font-color);
}

li{
  text-decoration: none;
  color: var(--font-color);
}

i{
  text-decoration: none;
  color: var(--font-color);
}

a{
  text-decoration: none;
  color: var(--font-color);
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}

.button{
  background-color: var(--color-gunpowder);
  border: 0px;
  color: var(--color-bonjour);
  font-family: var(--site-font);
}

.nvabgcolor{
  background-color: var(--primary-color);
}

.nvabgcolor a{
  color: #fff;
}

h1{
  color: var(--secondary-color);
}

p{
  color: var(--paragraph-color);
}

span{
  color: var(--primary-color);
}
svg{
 background-color: white;
}

/* Box borders */

.box-header-footer{

  position : relative;
  background: linear-gradient(to bottom right, #E9F1FA, #FFFFFF);
}

/* Section title and colors defined */

/* Fonts color - Hero section */

.p-hero{
  color: #964734;
  font-family: var(--site-font);
  font-size: 20px;
  position: absolute;
  left: 47px;
  top: 45px;
}

.p-heroR{
  color: #964734;
  font-family: var(--site-font);
  font-size: 20px;
  position: absolute;
  right: 47px;
  top: 45px;
}

.h2-hero{

  font-family: "Work Sans", sans-serif;
  font-size: var(--big-font-size);
  color: #964734;
}

.h2-hero1{

  font-family: "Work Sans", sans-serif;
  font-size: var(--big-font-size);
  color: #0A0F22;
}

.h2-welcome{

  font-family: "Yellowtail", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: var(--mb-5);
  color: #964734;

}

.h2-welcome1{

  font-family: "Sacramento", cursive;
  font-weight: 100;
  font-style:oblique;
  font-size: var(--mb-5);
  color: #0A0F22;

}

.h3-hero{

  font-family:  "Lora", serif;
  font-size: 20px;
  color: #4D8EE5;
}

.container-hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.side-bar {
  width: 50px;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(to bottom right, #F0F4F8, #FFFFFF);
  justify-content: space-between;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-pills, .nav-item,.nav-link,.active,.strong{
  color: #0A0F22;
}

.btn{
  background-color: #0A0F22;
}

.social-links{
  width: 50px;
  top: 170px;
  text-align: center;
  position: absolute;
  transform: translateY(-50%);
  justify-content: space-between;
}

.hero-button {
  color: var(--font-color);
  padding: 10px 25px;
  background: transparent;
  border: 1px solid #4D8EE5;
  border-radius: 20px;
  outline: pointer;
  font-family:  "Lora", serif;
}

/* How I do Section */

.hdoi-containerL{
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #000000;
  background: linear-gradient(to bottom, #F0F4F8,  #FFFFFF);
  font-family: var(--site-font);
}

.hdoi-containerR{
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #000000;
  background: linear-gradient(to bottom, #F0F4F8,  #FFFFFF);
  font-family: var(--site-font);
}

.hdoi-h4{
  font-family:  "Lora", serif;
  font-size: 18px;
  color: #0A0F22;
}

/* who am I section */

.h5-aboutme-bigtitle{
  font-family: "Work Sans", sans-serif;
  font-size: var(--big-font-size);
  color: #964734;
}

.p-aboutme-smalltitle{
  font-family:  "Lora", serif;
  font-size: 20px;
}

.h6-aboutme-initiative{
  font-family:  "Lora", serif;
  font-size: 18px;
  color: #4D8EE5;
}

/* why Hire section */

.p-whyhire-abovetext{
  font-family:  "Lora", serif;
  font-size: 18px;
  color: #0A0F22;
}

.h1-whyhireme{
  font-family: "Work Sans", sans-serif;
  font-size: var(--big-font-size);
  color: #964734;
}

.accordintext{
  font-family: "Poppins", sans-serif;
  text-align: left;
  margin-top: 2px;
  font-size: 14px;
  font-weight: 350;
  font-style: normal;
}

.accordion{
  --bs-accordion-btn-color: #0A0F22;
  --bs-accordion-active-bg: linear-gradient(to bottom right, #F0F4F8, #FFFFFF);
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-bg: linear-gradient(to bottom right, #F0F4F8, #FFFFFF);
  font-family: var(--site-font);
  color: var(--font-color);
}

.accordion-button:not(.collapsed){
  box-shadow: none;
}

.accordion-button::after{
  background-image: url(../images/plus.svg);
}

.accordion-button:not(.collapsed)::after{
  background-image: url(../images/dash.svg);
}

/* recommendation section */

.card-recommend{
  color: #4D8EE5;
  font-family:  "Lora", serif;
}

.p-recommend{
  font-family:  "Lora", serif;
  font-size: 18px;
  color: #0A0F22;
}

.h5-recommend{
  font-family: "Work Sans", sans-serif;
  font-size: 21px;
  color: #964734;
}

/* Skills section */

.p-skillheading{
  color: #4D8EE5;
  font-family:  "Lora", serif;
}

/* Portfolio Section */

.mediumfont{
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  font-family: var(-site-font);
}

.smallfont{
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  text-align: left;
  font-family: var(-site-font);
}

.sidefont{
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  text-align: right;
  font-family: var(-site-font);
}

/* End section */

.powness{

  height: 300px;
  font-family: "Poppins", sans-serif;
  color: var(--font-color);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;

  .box1{

    background-color: var(--color-makara);
    height: 250px;
    align-self: center;

    .numb{
      font-size: 70px;
      font-weight: 900;
      font-style:oblique;
      text-align: center;
      align-content: center;
    }
  }

}

.skillsbox{

  font-family: var(--site-font);
  color: var(--font-color);

}

.progress-bar{
  background-color: #964734;
  text-align: left;
}


/* Nav Style */



/*Project Management Prowness section */

.pow-container{
  backdrop-filter: blur(5px);
  background-color: var(--lead-title-color-light);
  border: 1px solid var(--lead-title-color-dark);
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(var(--dark-background), 0.25);
  height: 8vw;
  max-height: 210px;
  min-height: 180px;
  min-width: 180px;
  position: relative;
  transition: transform 250ms;
  width: calc(100% / 5);
  padding: 5px 5px;
  margin: 5px;

  &:last-of-type {
    margin-right: 7px;
  }
}

.pow-container .title{
  text-align: center;
  color: var(--secondary-color);
  font-family: var(--title-font);
  font-size: var(--big-font-size);
}

  .pow-card-content {
    display: flex;
    flex-direction: column;
    height: calc(100% - 20px);
    justify-content: space-evenly;
    padding: 10px;

    i, span, p {
      color: gray(245);
      text-align: center;
      color: var(--primary-color);
      font-family: var(--site-font);
      font-size: var(--mb-11);
    }

    .subtitle{
      text-align: center;
      color: var(--primary-color);
      font-family: var(--site-font);
      font-size: var(--mb-3);
    }

  }

/* End Prowness */

/* Begin Making my Mark */

.mymark-container{
  backdrop-filter: blur(5px);
  background-color: #ecf0f1; /*var(--lead-title-color-light);*/
  border: 2px white solid;
  max-width: 540px;
  min-width: 140px;
  position: relative;
	transform-style: preserve-3d;
	transform: rotatey(0deg) translatex(0px) translatey(0px);
	transition: all 0.6s cubic-bezier(0.680, -0.550, 0.265, 1.550);
	box-shadow: 4px 4px 20px rgba(0,0,0,0.4);
	margin: 5px;
}

.mymark-container1{
  backdrop-filter: blur(5px);
  background-color: #ecf0f1; /*var(--lead-title-color-light);*/
  border: 2px white solid;
  max-width: 540px;
  min-width: 140px;
  position: relative;
	transform-style: preserve-3d;
	transform: rotatey(0deg) translatex(0px) translatey(0px);
	transition: all 0.6s cubic-bezier(0.680, -0.550, 0.265, 1.550);
	box-shadow: 4px 4px 20px rgba(0,0,0,0.4);
	margin: 5px;
}

.mymark-container .card-title{
  text-align: center;
  color: var(--primary-color);
  font-family: var(--site-font);
  font-size: var(--mb-3);
}

.card-text{
  color: gray(245);
  text-align: left;
  color: var(--primary-color);
  font-family: var(--site-font);
  font-size: var(--mb-2);
}

/* End mking my mark */

/* Begin About me*/

.aboutme-container{
  background-color: #fff;

  h1{
    text-align: center;
    color: var(--secondary-color);
    font-family: var(--title-font);
    font-size: var(--big-font-size);
  }

  button{
    text-decoration: none;
    color: var(---primary-color);
  }
}

.aboutme-container .d-flex{
  box-shadow: 0 4px 25px var(--lead-title-color-light);
  border-radius: .5rem;
}

.about_Subtext{
  text-align: left;
  color: var(--secondary-color);
  font-family: var(--site-font);
  font-size: var(--h-font-size);
}

.about_text{
  text-align: left;
  color: var(--primary-color);
  font-family: var(--site-font);
  font-size: var(--p-font-size);
  font-weight: 520;
  margin-bottom: var(--mb-2);
}

.about_box{
  border: none;
}

.about_card{
  margin: 5px;
  min-width: 64rem;

  h5{
    color: var(--primary-color);
    font-family: var(--site-font);
    font-size: var(--mb-3);
  }

  h4{
    color: var(--secondary-color);
    font-family: var(--site-font);
    font-size: var(--mb-2);
  }
}

/* end About me */

/* Carosul for Recommendation */

.recom_container{
  max-width: auto;
  text-align: center;
  height: 125px;
  margin:auto;
  word-wrap: break-word;
}

.recom_container .carousel-item{
  position:relative;
}

.carSource{
  color: var(--secondary-color);
  font-family: var(--site-font);
  font-size: var(--p-font-size);
}

.cartext{
  color: var(--primary-color);
  font-family: var(--site-font);
  font-size: var(--p-font-size);
}

.cartitle{
  color: var(--primary-color);
  text-align: center;
  font-weight: var(--mb-3);
}

.carsubtitle{
  color: var(--primary-color);
  text-align: center;
  font-size: var(--mb-2);
}

/* End Recommendation */

/* Begin Footer */

.footersection{
  backdrop-filter: blur(5px);
  background-color: var(--lead-title-color-light);
  border-top: 1px solid var(--lead-title-color-dark);
  padding-top: 1px; /* Add padding to avoid content overlapping the border */
}

.footersection p{
  text-transform:lowercase;
  color: var(--secondary-color);
  font-size:medium;
  font-weight: bold;
}

.footersection span{
  text-transform:lowercase;
  color: var(--primary-color);
  font-size:small;

}

/* end Footer */

/* Begin : Subtitle - & below section */

.subtitle{
  color: var(--secondary-color);
  font-size: var(--mb-3);
  font-family: var(--hero-right-side-font);
}

.subtitle-content{
  color: var(--primary-color);
  font-size:medium;
  backdrop-filter: blur(5px);
  background-color: var(--lead-title-color-light);
  margin-top: 0px;
  margin-bottom: 15px;
  border: 1px solid var(--lead-title-color-dark);
  padding-bottom: 20px;

}
/* End : Subtitle - & below section */

/* Begin : Resource Section */

.rsubtitle{

  color: var(--Primary-color);

  h4{
    color: var(--secondary-color);
    font-size: var(--mb-2);
    font-family: var(--site-font);
  }

  ul{
    text-transform:lowercase;
    color: var(--primary-color);
    font-size:small;
    border-radius: 0px;
    border: none;
  }

  li{
    text-transform:lowercase;
    color: var(--primary-color);
    font-size:small;
    border-radius: 0px;
    border: none;
  }

  ol{
    text-transform:lowercase;
    color: var(--primary-color);
    font-size:small;
    border-radius: 0px;
    border: none;
  }

  p{
    text-transform:lowercase;
    color: var(--primary-color);
    font-size:small;
  }

  a{
    text-transform:lowercase;
    color: var(--seconday-color);
    font-size:small;
  }

  i{
    margin-right: 10px;
    top: 0px;
  }

}

/* End : Resource Section */

/* Begin : Qualification& Certification Section */

.colheader{
  background-color: var(--lead-title-color-light);
  color: var(--secondary-color);
  font-size: var(--mb-2);
  font-family: var(--site-font);
  border: 1px solid var(--lead-title-color-dark);
}
.colbody{
  color: var(--primary-color);
  font-size: small;
  font-family: var(--site-font);
}

/* End : Qualification & Certification Section */

.bgproduct{
  background-image: url("../images/prodLaunch.svg");
  background-size:contain;
  position:relative;
  top: 1em;
  background-repeat: no-repeat;
}

.bgcareer{
  background-image: url("../images/careerpath.svg");
  background-size:contain;
  position:relative;
  top: 1em;
  background-repeat: no-repeat;
}

.bgcommunity{
  background-image: url("../images/community.svg");
  background-size:contain;
  position:relative;
  top: 1em;
  background-repeat: no-repeat;
}

.bgblog{
  position:relative;
  top: 1em;
  background-repeat: no-repeat;
}

.belowhname{

  top: 18em;
  position: absolute;
  text-align: center;
  
}

.counterouter{

  width: 285px;
  height: 155px;

}

.counterinner{

  width:270px;
}

strong{
  font-size:large;
  color: #6c63ffff;
}

.counterinner-img{

  width:270px;
  height: auto;
}

.counterinner-btm{
  width:270px;
  height: 35px;
}


/* Add this to your CSS file or within a <style> tag in the HTML head */

.work__img{
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
  border-radius: .5rem;
  overflow: hidden;
}

.skills__data{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: .5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: .5rem;
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
}

.typedText{
  text-transform: capitalize;
  color: var(--primary-color);
}

/* navigation Menu */

.header_menu {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--sitebg-color);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146,161,176,.15);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}

@media screen and (max-width: 768px) {
  .nav_menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 1rem;
    background-color: var(--sitebg-color);
    transition: .5s;
  }
}

.nav_item {
  margin-bottom: var(--mb-4);
  align-items: end;
  color: var(--secondary-color);
}

.nav_link {
  position: relative;
  color: var(--secondary-color);
}

.nav_link:hover {
  color: var(--primary-color);
}
.nav_link:hover::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--secondary-color);
}

.nav_logo {
  color: var(--secondary-color);
  align-items: start;
  font-weight: var(--font-semi);
}

.nav_toggle {
  color: var(--primary-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/* skill Bar : https://codepen.io/bycreator/pen/qBpwGy */


/* Bottom Client Box */

.iphone-Menu-title {
  font-size: 2.35rem; /* Adjust font size */
  font-weight: 600; /* Bold heading */
  color: #004aad; /* Oracle iPhone style primary color */
  margin-bottom: 10px; /* Space below the heading */
}

.iphone-card {
  border-radius: 20px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Subtle shadow */
  overflow: hidden; /* Ensure content fits inside rounded corners */
  border: 1px solid #e0e0e0; /* Light border */
  transition: transform 0.3s ease-in-out; /* Smooth transformation */
  padding: 20px; /* Add padding to control size */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto; /* Adjust height automatically based on content */
}

.iphone-card:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.iphone-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iphone-icon {
  border-radius: 7%; /* Rounded corners to make it circular */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Subtle shadow */
  overflow: hidden; /* Ensure content fits inside rounded corners */
  border: 1px solid #e0e0e0; /* Light border */
  transition: transform 0.3s ease-in-out; /* Smooth transformation */
  padding: 2px; /* Add padding to control size */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px; /* Fixed height */
  width: 45px; /* Fixed width */
  margin: auto; /* Center the icon container */
}

.iphone-icon:hover {
  transform: scale(1.1); /* Slightly enlarge on hover */
}

.iphone-icon i {
  font-size: 24px; /* Adjust the size of the icon */
  color: #004aad; /* Default icon color */
}

.iphone-icon a {
  font-size: 24px; /* Adjust the size of the icon */
  color: #004aad; /* Default icon color */
}

.iphone-icon svg {
  font-size: 24px; /* Adjust the size of the icon */
  color: #004aad; /* Default icon color */
}


.iphone-card-portfolio {
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Subtle shadow */
  overflow: hidden; /* Ensure content fits inside rounded corners */
  border: 1px solid #e0e0e0; /* Light border */
  transition: transform 0.3s ease-in-out; /* Smooth transformation */
  padding: 4px; /* Add padding to control size */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto; /* Adjust height automatically based on content */
}

.iphone-card-portfolio:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.iphone-card-portfolio .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Ensure the content has some padding */
}

.iphone-card-title {
  font-size: 1.25rem; /* Adjust font size */
  font-weight: 600; /* Bold heading */
  color: #0d6efd; /* Oracle iPhone style primary color */
  margin-bottom: 10px; /* Space below the heading */
}

.iphone-card-text {
  font-size: 1rem; /* Adjust font size for text */
  color: #6c757d; /* Secondary text color */
}

.iphone-card-text-projects {
  font-size: 1rem; /* Adjust font size for text */
  color: #000000; /* Secondary text color */
}

.container {
  margin-top: 50px; /* Space at the top */
}

@media (max-width: 767px) {
  .iphone-card-portfolio {
    margin-bottom: 20px; /* Space between cards on small screens */
  }
}

.iphone-top-arrow {
  display: none; /* Hidden by default */
  position: fixed;
  bottom: 40px; /* Distance from bottom */
  right: 40px; /* Distance from right */
  z-index: 100; /* Ensure it sits above other elements */
  transition: opacity 0.3s, transform 0.3s;
}

.iphone-top-arrow:hover {
  transform: scale(1.1); /* Slightly enlarge on hover */
}

.iphone-top-arrow i {
  font-size: 24px; /* Adjust the size of the icon */
  color: #0d6efd; /* Default icon color */
}

.iphone-top-arrow a {
  font-size: 24px; /* Adjust the size of the icon */
  color: #0d6efd; /* Default icon color */
}

.iphone-top-arrow svg {
  font-size: 24px; /* Adjust the size of the icon */
  color: #0d6efd; /* Default icon color */
}


/* timeline & horizontal scrolling */
/* Container Styles */
.tcontainer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* Timeline Container */
.timeline-container {
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 1rem;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #e5e5e5 #f5f5f5; /* Scrollbar and track colors for Firefox */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto; /* Adjust height automatically based on content */
}

/* Webkit Scrollbar (for Chrome, Safari, and Edge) */
.timeline-container::-webkit-scrollbar {
  height: 5px; /* Height of the horizontal scrollbar */
}

.timeline-container::-webkit-scrollbar-track {
  background: #f5f5f5; /* Track color */
}

.timeline-container::-webkit-scrollbar-thumb {
  background-color: #007aff; /* Scrollbar color */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid #f5f5f5; /* Padding around scrollbar */
}

/* Timeline */
.timeline {
  display: inline-block;
  position: relative;
  width: max-content;
}

/* Timeline Item */
.timeline-item {
  display: inline-block;
  position: relative;
  margin-right: 0.5rem;
  margin-left:0.2rem;
  width: 200px;
}

.timeline-item:last-child {
  margin-right: 0;
}

/* Timeline Content */
.timeline-content {
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.timeline-content:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.timeline-content h3 {
  margin-top: 0;
  font-size: 1rem;
  color: #007aff; /* iPhone 15 aesthetic color */
  white-space: normal; /* Allow text to wrap */
  overflow-wrap: break-word; /* Break long words */
  overflow: hidden; /* Hide any overflow content */
}

.timeline-content p {
  margin-bottom: 0;
  color: #666;
  white-space: normal; /* Allow text to wrap */
  overflow-wrap: break-word; /* Break long words */
  overflow: hidden; /* Hide any overflow content */
}

/* Timeline Line */
.timeline::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #ddd;
  z-index: -1;
  transform: translateY(-50%);
}

/* Animation */

/* high level component 

@keyframes appear {
  from{
    opacity: 0;
    scale: 0.5;
  }
  to{
    opacity: 1;
    scale : 1;
  }
}

.animeblock {
  animation: appear 2s linear;
}

*/

/* My nav */

.my-nav {
  position: absolute;
  z-index: 3;
  left: 15px;
  right: 5px;
  top: 46px;
  background-color: rgb(13, 110, 253);
}

/*  My Info */

.my-info {
  position: absolute;
  z-index: 4;
  left: 15px;
  right: 15px;
  top: 246px;
  background-color: rgb(13, 110, 253);
}

.my-info h6 {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: rgb(13, 110, 253);
  letter-spacing: 2px;
  text-transform: uppercase;

}

.my-info p {
  margin: 0;
  font-size: 15px;
  font-family: 'Rambla', sans-serif;
  padding: 0;

  color: rgb(13, 110, 253);
}

.fullpage .my-info {
  top: auto;
  bottom: 15px;
}

@media (min-width: 576px) {
  .my-info {
      top: 321px;
  }
}

@media (min-width: 768px) {
  .my-info {
      left: 50px;
      top: 266px;
      right: auto;
      width: 520px;
  }

  .fullpage .my-info {
      bottom: 50px;
  }
}

@media (min-width: 992px) {
  .my-info {
      position: fixed;
      left: 173px;
      right: 0;
      width: auto;
      -webkit-box-shadow: 15px 0 20px 0 rgba(0, 0, 0, .05);
      box-shadow: 15px 0 20px 0 rgba(0, 0, 0, .05);
  }

  .my-info,
  .fullpage .my-info {
      top: auto;
      bottom: 0;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .my-info.full-width {
      left: 70px;
  }

  .fullpage.hero-has-nav .my-info {
      left: 103px;
  }

  .fullpage .my-info.full-width {
      left: 0;
  }
}

@media (min-width: 1200px) {
  .my-info {
      left: auto;
      width: 760px;
  }
}

@media (min-width: 1320px) {
  .my-info {
      width: 850px;
  }
}

@media (min-width: 1440px) {
  .my-info {
      width: 910px;
  }
}

@media (min-width: 1600px) {
  .my-info {
      width: 990px;
  }
}

@media (min-width: 1860px) {
  .my-info {
      width: 1090px;
  }
}

.my-info .box,
.my-info .box input,
.my-info .box button {
  margin-bottom: 0;
  border: none;
}

@media (min-width: 992px) {
  .my-info .box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
  }
}

.my-info .box .field {
  position: relative;
  padding: 15px;
}

@media (max-width: 991px) and (max-height: 568px) {
  .fullpage .my-info .box .field {
      display: none;
  }

  .my-info {
      display: none;
  }
}

@media (min-width: 992px) {
  .my-info .box .field {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: none;
  }
}

@media (min-width: 992px) {
  .my-info .box .field {
      padding: 20px;
  }
}

@media (min-width: 1320px) {
  .my-info .box .field {
      padding: 30px 20px;
  }
}

.my-info .box .field-my-info {
  margin-bottom: 3px;
}

@media (max-width: 991px) {
  .my-info {
      display: none;
  }

  #social-profiles {
      display: none;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .my-info .box .field-my-info {
      float: left;
      width: 50%;
      margin-bottom: 0;
  }

  .my-info .box .field-my-info:last-of-type {
      margin-left: 1px;
  }
}

@media (min-width: 992px) {
  .my-info .box .field-my-info {
      margin-bottom: 0;
      min-width: 180px;
  }
}

@media (min-width: 1200px) {
  .my-info .box .field-my-info {
      min-width: 160px;
  }
}

@media (min-width: 1320px) {
  .my-info .box .field-my-info {
      min-width: 180px;
  }
}

@media (min-width: 1440px) {
  .my-info .box .field-my-info {
      min-width: 200px;
  }
}

.my-info .box .field label {
  margin-bottom: 0;
}

@media (min-width: 992px) {
  .my-info .box .field label {
      margin-top: 10px;
      margin-bottom: 7px;
  }
}

@media (min-width: 1320px) {
  .my-info .box .field label {
      margin-top: 3px;
      margin-bottom: 4px;
  }
}

.my-info .box .field .field-value {
  font-size: 1.1rem;
  font-weight: 500;
}

.my-info .box .field .field-value .short {
  display: none;
}

@media (min-width: 992px) {
  .my-info .box .field .field-value .short {
      display: inline-block;
  }

  .my-info .box .field .field-value .long {
      display: none;
  }
}

.my-info .box .field-separator:after {
  content: '';
  position: absolute;
}

.my-info .box .field-separator.field-my-info:after {
  left: 15px;
  right: 15px;
  height: 2px;
  bottom: -3px;
}

@media (min-width: 576px) and (max-width: 991px) {
  .my-info .box .field-separator.field-my-info:after {
      left: -100%;
      margin-left: 15px;
  }

  .my-info .box .field-separator.field-my-info:first-of-type:after {
      left: auto;
      height: auto;
      width: 3px;
      top: 15px;
      bottom: 0;
      right: 0px;
  }
}

@media (min-width: 992px) {

  .my-info .box .field-separator:first-child:before,
  .my-info .box .field-separator.field-my-info:after {
      left: auto;
      height: auto;
      width: 0px;
  }

  .my-info .box .field-separator.field-my-info:after {
      top: 20px;
      bottom: 20px;
      right: 0px;
  }
}

@media (min-width: 1320px) {
  .my-info .box .field-separator.field-my-info:after {
      top: 30px;
      bottom: 30px;
  }
}

.my-info .box .field a.ti {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 25px;
  z-index: 1;
  text-decoration: none;
  -webkit-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s;
}

.my-info .box .field a.ti:hover,
.my-info .box .field a.ti:focus {
  color: #c5c5c5;
  color: rgba(0, 0, 0, .5);
  outline: 0;
}

.my-info .box .field a.ti:before {
  position: absolute;
  line-height: 1;
  top: 50%;
  right: 16px;
  margin-top: -12px;
}

@media (min-width: 992px) {
  .my-info .box .field a.ti:before {
      right: 18px;
  }
}

@media (min-width: 1200px) {
  .my-info .box .field a.ti:before {
      margin-top: -14px;
  }
}

@media (min-width: 1320px) {
  .my-info .box .field a.ti:before {
      right: 28px;
  }
}

.my-info .box .field .dropdown {
  position: absolute;
  z-index: 2;
  left: 0;
  width: 100%;
  top: 100%;
  margin-top: -10px;
  visibility: hidden;
  opacity: 0;
  background-color: rgb(13, 110, 253);
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .05);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .05);
  -webkit-transition: opacity .2s, visibility .2s, margin .2s;
  -o-transition: opacity .2s, visibility .2s, margin .2s;
  transition: opacity .2s, visibility .2s, margin .2s;
}

.my-info .box .show-dropdown .dropdown {
  margin-top: -2px;
}

.fullpage .my-info .box .field .dropdown {
  top: auto;
  margin-top: 0;
  margin-bottom: -18px;
  bottom: 100%;
  -webkit-box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, .05);
  box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, .05);
}

.fullpage .my-info .box .show-dropdown .dropdown {
  margin-bottom: -10px;
}

@media (min-width: 992px) {
  .my-info .box .field .dropdown {
      top: auto;
      margin-top: 0;
      margin-bottom: -18px;
      bottom: 100%;
      -webkit-box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, .05);
      box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, .05);
  }

  .my-info .box .show-dropdown .dropdown {
      margin-bottom: -10px;
  }
}

.my-info .box .show-dropdown .dropdown {
  visibility: visible;
  opacity: 1;
}

.my-info .box .field .dropdown ul {
  list-style: none;
  margin: 0 0 10px;
  padding-left: 0;
}

.my-info .box .field .dropdown ul li {
  margin: 0;
}

.my-info .box .field .dropdown li a {
  display: block;
  padding: 10px 15px;
  font-weight: 400;
  text-decoration: none;
}

@media (min-width: 992px) {

  .my-info .box .show-dropdown .dropdown,
  .fullpage .my-info .box .show-dropdown .dropdown {
      margin-bottom: -10px;
  }

  .my-info .box .field .dropdown ul {
      margin-top: 10px;
      margin-bottom: 0;
  }

  .my-info .box .field .dropdown li a {
      padding: 10px 20px;
  }
}

@media (min-width: 1320px) {
  .my-info .box .field .dropdown li a {
      padding: 12px 30px;
  }
}

.my-info .box .field .dropdown li a:hover,
.my-info .box .field .dropdown li a:focus {
  background-color: rgb(13, 110, 253);
  background-color: rgba(0, 0, 0, .05);
}

.my-info .box .field .dropdown ul .selected a {
  font-weight: 500;
  background-color: rgb(13, 110, 253);
}

.my-info .box button {
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-right: 0;
  border: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
  background: rgb(13, 110, 253);
  letter-spacing: 2px;
  color: #fff;
}

@media (min-width: 992px) {
  .my-info .box button {
      height: 108px;
      line-height: 108px;
      padding: 0;
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
      border: none;
  }
}

@media (min-width: 1320px) {
  .my-info .box button {
      height: 108px;
      border: none;
  }
}

.my-info-full p {
  margin-bottom: 0;
}

.my-info-full select {
  width: 100%;
  max-width: 100%;
}

@media (min-width: 768px) and (max-width: 991px),
(min-width: 1200px) {

  .my-info-full .field-name,
  .my-info-full .field-adults,
  .my-info-full .field-room-type {
      float: left;
      width: 50%;
      padding-right: .75rem;
  }

  .my-info-full .field-email,
  .my-info-full .field-children,
  .my-info-full .field-room-no {
      float: right;
      width: 50%;
      padding-left: .75rem;
  }
}


/* 14. Footer */

.copyright {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #ececec;
}

.copyright p:last-child {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
}

@media (min-width: 768px) {
  .copyright {
      margin-top: 50px;
      padding-top: 50px;
  }
}

@media (min-width: 992px) {
  .copyright {
      margin-top: 30px;
      padding-top: 50px;
  }

  .full-content .copyright {
      margin-top: 50px;
  }
}

@media (min-width: 1200px) {
  .copyright {
      margin-top: 50px;
  }

  .full-content .copyright {
      position: absolute;
      left: 60px;
      right: 60px;
      bottom: 0;
      margin-top: 0;
      padding-left: 300px;
      padding-bottom: 60px;
      text-align: right;
      background-color: #fff;
  }
}

@media (min-width: 1320px) {
  .copyright {
      padding-bottom: 0px;
  }
}

@media (min-width: 1440px) {
  .full-content .copyright {
      left: 90px;
      right: 90px;
  }
}

@media (min-width: 1600px) {
  .copyright {
      margin-top: 50px;
  }

  .full-content .copyright {
      padding-top: 90px;
      padding-bottom: 90px;
  }
}

@media (min-width: 1860px) {
  .full-content .copyright {
      left: 90px;
      right: 90px;
  }
}

.title {
  color: rgb(13, 110, 253);
  font-family: 'Oswald', sans-serif;
  margin-top: 0;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 1.5em;
}

.title-small {
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: rgb(4, 5, 5);
  font-weight: 400;
  letter-spacing: 5px;
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
.navmenu-container {
  position: fixed;
  top: 25;
  left: 5;
  z-index: 9997;
}

.navmenu-image {
  width: 300px;
  height: 450px;
  object-fit: cover; /* Ensures the image covers the area without distortion */
  display: block;
}

.navmenu {
  padding: 0;
}

.navmenu ul {
  list-style: none;
  padding: 0 0 20px 0;
  margin: 0;
  width: 300px;
}

.navmenu a,
.navmenu a:focus {
  display: flex;
  align-items: center;
  padding: 10px 18px;
  margin-bottom: 8px;
  font-size: 15px;
  border-radius: 50px;
  background: color-mix(in srgb, var(--default-color), transparent 92%);
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

.navmenu a i,
.navmenu a:focus i {
  font-size: 20px;
}

.navmenu a span,
.navmenu a:focus span {
  padding: 0 5px 0 7px;
}

@media (min-width: 992px) {

  .navmenu a,
  .navmenu a:focus {
    max-width: 56px;
  }

  .navmenu a span,
  .navmenu a:focus span {
    display: none;
  }
}

.navmenu a:hover,
.navmenu .active,
.navmenu .active:focus,
.navmenu li:hover>a {
  color: rgb(13, 110, 253);
  background: rgb(13, 110, 253);
}

.navmenu a:hover,
.navmenu li:hover>a {
  max-width: 100%;
  color: #F0F4F8;
}

.navmenu a:hover span,
.navmenu li:hover>a span {
  display: block;
}

.navicon {
  margin-right: 10px;  /* Space between icon and text */
  font-size: 1.2em;    /* Size of the icon */
  color: #333;         /* Color of the icon */
}

.navicon:hover {
  color: rgb(13, 110, 253);      /* Color change on hover */
}

.navicon .active:focus {
  color: #F0F4F8;     /* Color change on hover */
}


/* 16. Timeline styles */

/* 13. Content Section */

.content-wrap {
  position: relative;
  z-index: 3;
  padding: 30px 15px;
  background-color: #fff;
  -webkit-transition: translate3d(0, 0, 0);
  overflow: hidden;
}

@media (max-width: 991px) {
  .content-wrap .content > :last-child {
      margin-bottom: 0;
  }
}

.full-content .content-wrap {
  padding-top: 110px;
}

@media (min-width: 768px) {
  .content-wrap {
      padding: 50px;
  }

  .full-content .content-wrap {
      padding-top: 170px;
  }
}

@media (min-width: 992px) {
  .content-wrap {
      float: right;
      width: 50%;
      padding-top: 170px;
  }

  .cv .content-wrap {
      margin-bottom: 100px;
  }

  .full-content .content-wrap {
      float: none;
      width: auto;
      margin-bottom: -15px;
  }

  .expanded-hero.expanded-hero-completed .content-wrap {
      -webkit-transform: translate(100%);
      -ms-transform: translate(100%);
      transform: translate(100%);
  }
}

@media (min-width: 1200px) {
  .content-wrap {
      width: 760px;
  }

  .full-content .content-wrap {
      position: static;
      margin-bottom: 0;
      padding-bottom: 160px;
  }

  .full-content .content-wrap,
  .full-content .content-wrap .page {
      min-height: 100%;
  }
}

@media (min-width: 1320px) {
  .content-wrap {
      width: 850px;
  }
}

@media (min-width: 1440px) {
  .content-wrap {
      width: 910px;
      padding-top: 160px;
      padding-left: 80px;
      padding-right: 80px;
  }

  .cv .content-wrap {
      margin-bottom: 110px;
  }

  .full-content .content-wrap {
      padding-top: 190px;
  }
}

@media (min-width: 1600px) {
  .content-wrap {
      width: 990px;
  }

  .full-content .content-wrap {
      padding-bottom: 210px;
      margin-bottom: 0;
  }
}

@media (min-width: 1860px) {
  .content-wrap {
      width: 1090px;
      padding-left: 100px;
      padding-right: 100px;
  }
}

.content-wrap .title {
  color: #101010;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 1.5em;

}

.content-wrap .title-small {
  display: block;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: rgb(13, 110, 253);
  font-weight: 400;
  letter-spacing: 5px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


.grid-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-left: -30px;
}

.grid-container .grid-column {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 30px;
  padding-left: 30px;
}

@media (min-width: 768px) and (max-width: 991px),
(min-width: 1200px) {
  .grid-container .grid-column {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      -webkit-box-flex: 1;
      flex-grow: 1;
      max-width: 100%;
  }

  .grid-container .order-first {
      -ms-flex-order: -1;
      -webkit-box-ordinal-group: 0;
      order: -1;
  }
}

@media (min-width: 1440px) {
  .grid-container {
      margin-right: -60px;
      margin-left: -60px;
  }

  .grid-container .grid-column {
      padding-right: 60px;
      padding-left: 60px;
  }
}

.recommendation {
  display: flex;
  gap: 20px;
  border: 1px solid white;
  padding: 20px;
  margin-bottom: 20px;
}

.recommendation-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.recommendation-image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.recommendation-content {
  flex-grow: 1;
}

.carousel-item {
  border: 1px solid white;
  background-color: white;
}
