
/* Add cool font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Pacifico&family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bricolage+Grotesque:opsz,wght@10..48,200&family=Courgette&family=Pacifico&family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo'); 
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css2?family=poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Corben:700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

/* Licensing & Courtesy  - 

https://undraw.co/search

https://codepen.io/bycreator/pen/qBpwGy

https://codepen.io/JJimmyFlynn/pen/yzoPyV?editors=1100 - BARUN

*/

/* Define CSS variables at the top of your CSS file */

:root {

  --header-height : 3rem ;
  --font-semi: 600;
  --font-page-weight: 500;
  --font-page-strong: 100;
  --font-hero-weight: 900;

  --primary-color : #001e20ff;
  --secondary-color: #07496cff;
  --paragraph-color : #011520ff;
  --lead-title-color-light: #f0f4ffff;
  --lead-title-color-dark:#c0ebf0ff;
  --lead-title-color2-light: #fe9280ff;
  --lead-title-color2-dark: #f45e43ff;
  --completed-color: #23780b;
  --inprogress-color: #3c23ff;
  --future-color:#ff0e73;

  --site-font: 'Nunito Sans', sans-serif;
  --title-font:'Courgette', cursive;
  --hero-font-big: 'Corben', cursive;
  --hero-font-prof: 'Crimson Text', serif;
  --hero-right-side-font: 'Raleway', sans-serif;
  --big-font-size: 2rem;
  --h-font-size: 1.25rem;
  --p-font-size: 1.15rem;

  --mb-1: 0.5rem;
  --mb-11: 0.75rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;

  --gap: 1rem;

  
  
}
/* Media Queries for Responsive Design (you can customize these as needed) */
@media screen and (max-width: 900px) {
  .content {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px){
  :root{
    --big-font-size: 3.5rem;
    --h-font-size: 2rem;
    --p-font-size: 1rem;
  }
}

/* Global */* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  outline: none !important;
  list-style: none !important;
}

*,::before,::after{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--site-font);
  font-size: var(--p-font-size);
  font-weight: var(--font-page-weight);
  color: var(--secondary-color);
  background: #ffffff;
}
h1,h2,p{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: var(--secondary-color);
}

li{
  text-decoration: none;
  color: var(--secondary-color);
}

i{
  text-decoration: none;
  color: var(--secondary-color);
}

a{
  text-decoration: none;
  color: var(--secondary-color);
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}
/* Section title and colors defined */

.section-title{
  position: relative;
  font-family: var(--title-font);
  font-size: var(--h-font-size);
  color: var(--primary-color);
  margin-top: var(--mb-1);
  margin-bottom: var(--mb-2);
  text-align: center;
}

.section{
  padding-top: 1rem;
  padding-bottom: 2rem;
}

/* Nav Style */

.nvabgcolor{
  background-color: var(--primary-color);
}

.nvabgcolor a{
  color: #fff;
}

h1{
  color: var(--secondary-color);
}

p{
  color: var(--paragraph-color);
}

span{
  color: var(--primary-color);
}

/* Hero details */

.hero_slide1{
  width: 1024px;
  height: 500px;
  align-items: center;
  background-image: url("../images/security_consultant.jpg");
  background-size:contain;
  position:relative;
  top: 1em;
  background-repeat: no-repeat;
}

.hero_title_box1,.hero_title_box2{
  margin-top: 1px;
  height: 100px;
  overflow: hidden;
}

.hero_title{
  font-weight: 600;
  font-size: 72px;
  font-family: "Oswald", sans-serif;
}

/*Project Management Prowness section */

.pow-container{
  backdrop-filter: blur(5px);
  background-color: var(--lead-title-color-light);
  border: 1px solid var(--lead-title-color-dark);
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(black, 0.25);
  height: 8vw;
  max-height: 210px;
  min-height: 180px;
  min-width: 180px;
  position: relative;
  transition: transform 250ms;
  width: calc(100% / 5);
  padding: 5px 5px;
  margin: 5px;

  &:last-of-type {
    margin-right: 7px;
  }
}

.pow-container .title{
  text-align: center;
  color: var(--secondary-color);
  font-family: var(--title-font);
  font-size: var(--big-font-size);
}

  .pow-card-content {
    display: flex;
    flex-direction: column;
    height: calc(100% - 20px);
    justify-content: space-evenly;
    padding: 10px;

    i, span, p {
      color: gray(245);
      text-align: center;
      color: var(--primary-color);
      font-family: var(--site-font);
      font-size: var(--mb-11);
    }

    .subtitle{
      text-align: center;
      color: var(--primary-color);
      font-family: var(--site-font);
      font-size: var(--mb-3);
    }

  }

/* End Prowness */

/* Begin Making my Mark */

.mymark-container{
  backdrop-filter: blur(5px);
  background-color: #ecf0f1; /*var(--lead-title-color-light);*/
  border: 2px white solid;
  max-width: 540px;
  min-width: 140px;
  position: relative;
	transform-style: preserve-3d;
	transform: rotatey(0deg) translatex(0px) translatey(0px);
	transition: all 0.6s cubic-bezier(0.680, -0.550, 0.265, 1.550);
	box-shadow: 4px 4px 20px rgba(0,0,0,0.4);
	margin: 5px;
}

.mymark-container1{
  backdrop-filter: blur(5px);
  background-color: #ecf0f1; /*var(--lead-title-color-light);*/
  border: 2px white solid;
  max-width: 540px;
  min-width: 140px;
  position: relative;
	transform-style: preserve-3d;
	transform: rotatey(0deg) translatex(0px) translatey(0px);
	transition: all 0.6s cubic-bezier(0.680, -0.550, 0.265, 1.550);
	box-shadow: 4px 4px 20px rgba(0,0,0,0.4);
	margin: 5px;
}

.mymark-container .card-title{
  text-align: center;
  color: var(--primary-color);
  font-family: var(--site-font);
  font-size: var(--mb-3);
}

.card-text{
  color: gray(245);
  text-align: left;
  color: var(--primary-color);
  font-family: var(--site-font);
  font-size: var(--mb-2);
}

/* End mking my mark */

/* Begin About me*/

.aboutme-container{
  background-color: #fff;

  h1{
    text-align: center;
    color: var(--secondary-color);
    font-family: var(--title-font);
    font-size: var(--big-font-size);
  }

  button{
    text-decoration: none;
    color: var(---primary-color);
  }
}

.aboutme-container .d-flex{
  box-shadow: 0 4px 25px var(--lead-title-color-light);
  border-radius: .5rem;
}

.about_Subtext{
  text-align: left;
  color: var(--secondary-color);
  font-family: var(--site-font);
  font-size: var(--h-font-size);
}

.about_text{
  text-align: left;
  color: var(--primary-color);
  font-family: var(--site-font);
  font-size: var(--p-font-size);
  font-weight: 520;
  margin-bottom: var(--mb-2);
}

.about_box{
  border: none;
}

.about_card{
  margin: 5px;
  min-width: 64rem;

  h5{
    color: var(--primary-color);
    font-family: var(--site-font);
    font-size: var(--mb-3);
  }

  h4{
    color: var(--secondary-color);
    font-family: var(--site-font);
    font-size: var(--mb-2);
  }
}

/* end About me */

/* Carosul for Recommendation */

.recom_container{
  max-width: auto;
  text-align: center;
  height: 125px;
  margin:auto;
  word-wrap: break-word;
}

.recom_container .carousel-item{
  position:relative;
}

.carSource{
  color: var(--secondary-color);
  font-family: var(--site-font);
  font-size: var(--p-font-size);
}

.cartext{
  color: var(--primary-color);
  font-family: var(--site-font);
  font-size: var(--p-font-size);
}

.cartitle{
  color: var(--primary-color);
  text-align: center;
  font-weight: var(--mb-3);
}

.carsubtitle{
  color: var(--primary-color);
  text-align: center;
  font-size: var(--mb-2);
}

/* End Recommendation */

/* Begin Footer */

.footersection{
  backdrop-filter: blur(5px);
  background-color: var(--lead-title-color-light);
  border-top: 1px solid var(--lead-title-color-dark);
  padding-top: 1px; /* Add padding to avoid content overlapping the border */
}

.footersection p{
  text-transform:lowercase;
  color: var(--secondary-color);
  font-size:medium;
  font-weight: bold;
}

.footersection span{
  text-transform:lowercase;
  color: var(--primary-color);
  font-size:small;

}

/* end Footer */

/* Begin : Subtitle - & below section */

.subtitle{
  color: var(--secondary-color);
  font-size: var(--mb-3);
  font-family: var(--hero-right-side-font);
}

.subtitle-content{
  color: var(--primary-color);
  font-size:medium;
  backdrop-filter: blur(5px);
  background-color: var(--lead-title-color-light);
  margin-top: 0px;
  margin-bottom: 15px;
  border: 1px solid var(--lead-title-color-dark);
  padding-bottom: 20px;

}
/* End : Subtitle - & below section */

/* Begin : Resource Section */

.rsubtitle{

  color: var(--Primary-color);

  h4{
    color: var(--secondary-color);
    font-size: var(--mb-2);
    font-family: var(--site-font);
  }

  ul{
    text-transform:lowercase;
    color: var(--primary-color);
    font-size:small;
    border-radius: 0px;
    border: none;
  }

  li{
    text-transform:lowercase;
    color: var(--primary-color);
    font-size:small;
    border-radius: 0px;
    border: none;
  }

  ol{
    text-transform:lowercase;
    color: var(--primary-color);
    font-size:small;
    border-radius: 0px;
    border: none;
  }

  p{
    text-transform:lowercase;
    color: var(--primary-color);
    font-size:small;
  }

  a{
    text-transform:lowercase;
    color: var(--seconday-color);
    font-size:small;
  }

  i{
    margin-right: 10px;
    top: 0px;
  }

}

/* End : Resource Section */

/* Begin : Qualification& Certification Section */

.colheader{
  background-color: var(--lead-title-color-light);
  color: var(--secondary-color);
  font-size: var(--mb-2);
  font-family: var(--site-font);
  border: 1px solid var(--lead-title-color-dark);
}
.colbody{
  color: var(--primary-color);
  font-size: small;
  font-family: var(--site-font);
}

/* End : Qualification & Certification Section */

.bgproduct{
  background-image: url("../images/prodLaunch.svg");
  background-size:contain;
  position:relative;
  top: 1em;
  background-repeat: no-repeat;
}

.bgcareer{
  background-image: url("../images/careerpath.svg");
  background-size:contain;
  position:relative;
  top: 1em;
  background-repeat: no-repeat;
}

.bgcommunity{
  background-image: url("../images/community.svg");
  background-size:contain;
  position:relative;
  top: 1em;
  background-repeat: no-repeat;
}

.bgblog{
  position:relative;
  top: 1em;
  background-repeat: no-repeat;
}

.belowhname{

  top: 18em;
  position: absolute;
  text-align: center;
  
}

.counterouter{

  width: 285px;
  height: 155px;

}

.counterinner{

  width:270px;
}

strong{
  font-size:large;
  color: #6c63ffff;
}

.counterinner-img{

  width:270px;
  height: auto;
}

.counterinner-btm{
  width:270px;
  height: 35px;
}


/* Add this to your CSS file or within a <style> tag in the HTML head */

.work__img{
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
  border-radius: .5rem;
  overflow: hidden;
}

.skills__data{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: .5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: .5rem;
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
}

.typedText{
  text-transform: capitalize;
  color: var(--primary-color);
}

/* navigation Menu */

.header_menu {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--sitebg-color);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146,161,176,.15);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}

@media screen and (max-width: 768px) {
  .nav_menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 1rem;
    background-color: var(--sitebg-color);
    transition: .5s;
  }
}

.nav_item {
  margin-bottom: var(--mb-4);
  align-items: end;
  color: var(--secondary-color);
}

.nav_link {
  position: relative;
  color: var(--secondary-color);
}

.nav_link:hover {
  color: var(--primary-color);
}
.nav_link:hover::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--secondary-color);
}

.nav_logo {
  color: var(--secondary-color);
  align-items: start;
  font-weight: var(--font-semi);
}

.nav_toggle {
  color: var(--primary-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/* skill Bar : https://codepen.io/bycreator/pen/qBpwGy */

.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:20px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:20px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:20px;
	width:0px;
	background:var(--secondary-color);
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:20px;
	line-height:20px;
}

.skill-bar-tools {
	position:absolute;
	right:10px;
	top:12;
	font-size:11px;
}

/* ---- Portfolio ---- */

.portal{

  font-family: var(--site-font);
  font-size: var(--mb-11);
  font-weight: var(--mb-1);
  color: var(--secondary-color);
  padding: 0.2rem;

  .portal .cat{
    text-align: right;
    font-weight: bold;
    font-size: var(--mb-11);
  }

  .portal .lik{
    text-align: right;
    font-weight: bold;
    font-size: var(--mb-11);
    text-decoration: none;

  }

  .portal .bdy{
    color: var(--primary-color);    
  }

  .portal .ola{
    border-radius: 30px #ffffff;
  }


}

.experience{

  display: flex;
  flex-direction: row;
  height: calc(100% - 30px);
  justify-content: space-evenly;
  padding: 0.5px;

  .experience .card{
    backdrop-filter: blur(1px);
    background-color: var(--lead-title-color-light);
    border: 1px solid var(--lead-title-color-dark);
    box-shadow: 2px 2px 4px rgba(black, 0.25);
    width: 11.5rem;
    padding: 1px 1px;
    margin: 1px;
  }
 
 .experience .cardtitle{
  font-family: var(--site-font);
  font-weight: var(--p-font-size);
  font-size: var(--mb-11);
  font-weight: bold;
 }

 .experience .subtitle{
  color: gray(245);
  text-align: left;
  color: var(--primary-color);
  font-family: var(--site-font);
  font-size: var(--mb-11);
 }
 
}

.certsubtitle{
  color: gray(245);
  text-align: center;
  color: var(--primary-color);
  font-family: var(--site-font);
  font-size: small;
 }

 .pcertsubtitle{
  text-align: left;
  font-family: var(--site-font);
  font-size: small;
 }

 .completed{
  color: var(--completed-color);
}

.future{
  color: var(--future-color);
}

.inprogress{
  color: var(--inprogress-color);
}

.skillbar-index{
  width: 40px;
  height: 10px;
}

.skillbar-index_color-exp{
  background-color: var(--experience-color);
}

.skillbar-index_color-per{
  background-color: var(--projects-color);
}

.skillbar-index_color-beg{
  background-color: var(--studying-color);
}